includes:
    - vendor/larastan/larastan/extension.neon
#    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    level: 5

    paths:
        - app/
        - database/

    # Larastan 3.8-supported option:
    checkModelProperties: true

    # Global PHPStan strictness:
    treatPhpDocTypesAsCertain: true
